body {
    background-color: wheat;
}

.header {
    color: white;
    text-align: center;
    font-size: 8vh;
    background-color: darkred;
    margin-left: -8px;
    margin-right: -8px;
    padding: 3%;
    margin-top: -10px;
}

.prva {
    background-color: rgb(139, 137, 0);
    color: white;
    padding-bottom: 15%;
    border-radius: 25px;
    text-align: center;
}

.druha{
    background-color: rgb(0, 139, 86);
    border-radius: 25px;
    text-align: center;
        color: white;
}


.tretia {
    background-color: rgb(0, 139, 9);
    border-radius: 25px;
    text-align: center;
        color: white;
}


h1 {
    font-size: 8vh;
}














.kocky {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}